body {
  display: flex;
  flex-direction: column;
}

h1 > a {
  text-decoration: none;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-row, .flash {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.folder-select {
  margin-bottom: 1rem;
}

.spacer20 {
  width: 20%;
}

.lefted {
  align-items: flex-start;
}